.App {
  margin-top: 1vh;
  display: block;
}

#map {
  height: 98vh;
}

#map.rolled {
  width: 3vw;
  opacity: 0;
}

#map.open {
  width: 98vw;
  opacity: 1;
  transition: width 0.8s, opacity 2s;
}




