@font-face {
  font-family: 'Monoton';
  src: url(./fonts/Monoton-Regular.ttf) format('truetype');
}

body {
  font-family: 'Monoton';
}

.App {
  margin-top: 1vh;
  display: block;
}

#map {
  height: 98vh;
  position: absolute;
}

#map.rolled {
  width: 3vw;
  opacity: 0;
}

#map.open {
  width: 98vw;
  opacity: 1;
  transition: width 0.8s, opacity 2s;
}

.zoom {
  zoom: 2;
  transition: zoom 1s;
}

.mainModal {
  background-color: black;
  color: white;
  position: sticky;
  left: 33vw;
  top: 33vh;
  height: 33vh;
  width: 33vw;

  -webkit-box-shadow: 4px 4px 38px -12px rgba(255, 255, 255, 1);
  -moz-box-shadow: 4px 4px 38px -12px rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 38px -12px rgba(255, 255, 255, 1);
}

.closedModal {
  left: 1vw;
  height: 5vh;
  width: 3vw;
  border-radius: 20%;
  transition: all 0.3s;
}

.closedModal::after {
  content: '';
}

.closedModal div {
  display: none;
}

.welcomeMsg {
    margin-left: 3%;
    width: 47%;
    margin-top: 3%;
    font-size: 30px;
}

.sbmtBtn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 130px;
  width: 130px;
  overflow: hidden;

}

.sbmtText {
  font-family: fantasy;
  transform: rotateZ(-45deg);
  position: absolute;
  left: 28%;
  top: 37%;
  cursor: pointer;
}

.btnWrapper {
  opacity: 0.8;
}

.btnWrapper:hover {
  opacity: 1;
  color: red;
  font-size: 1.1rem;
  transform: scale(1.2);
  transition: transform 0.2s;
  animation-name: shaker;
  animation-duration: 0.1s;
}

@keyframes shaker {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(7deg);
  }
}


